<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% for item in testlist %}
     <p>{{item}}</p>
    {% endfor %}
    <br/>
        {% for imageobj in images %}
            <div style="display: flex;flex-direction: row;">
                <img src={{ url_for('static', filename=imageobj.image_file)}} alt="image">
                <p>{{imageobj.text}}</p>
            </div>
        {% endfor %}
    </div>
    <br/>
   {{content}}
<!-- 
    {{message}} -->
    
</body>

</html>