<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Lecture 12.1 — Support Vector Machines | Optimization Objective — [ Machine Learning]
      <small>Andrew Ng</small>
    </h1>

    {% for imageobj in images %}

    <div class="row ", style="display: flex;flex-direction: row;">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src={{ url_for('static', filename=imageobj.image_file)}} alt="image">
          </a>
        </div>
        <div class="col-md-5">
          <p>{{imageobj.text}}</p>
        </div>
      </div>
            <div style="display: flex;flex-direction: row;">
                <img src={{ url_for('static', filename=imageobj.image_file)}} alt="image">
                <p>{{imageobj.text}}</p>
            </div>
    {% endfor %}

  </div>
  <!-- /.container -->